{% extends 'landing/base.html' %}
{% load crispy_forms_tags %} 

{% block content %}
<div class="container">
  <!-- Back to Feed Button -->
  <div class="row mt-5">
    <div class="col-md-5 col-sm-6">
      <a href="{% url 'event-list' %}" class="btn btn-light">See more events</a>
    </div>
  </div>

  <div style="height:15px"></div>

  <!-- Event Headline -->
  <div class="row justify-content-center mt-3">
    <div class="col-md-10 col-sm-10 border-bottom position-relative">
      <h4>More about the event</h4>
    </div>
  </div>

  <!-- Event Details -->
  <div class="container mt-5" style="margin-left: 60px">
      <!-- Event Container -->
      <div class="justify-content-center mt-3 shadow bg-white rounded" style="margin-right: 10px; border: 2px solid lightgrey; width: 800px; padding: 10px;">
        <div class="row">
          {% if event.image %}    
            <!-- Event Image Column -->
            <div class="col-md-4">
              <img src="{{ event.image.url }}" class="event-image img-fluid" alt="Event Image">
            </div>
          {% endif %}
          <!-- Event Details Column -->
          <div class="col-md-2"></div>
          <div class="col-md-6">
            <!-- Event Title -->
            <h2 style="color: black; font-size: 20px; margin-bottom: 5px;">{{ event.title }}</h2>
            {% if request.user.pk == event.organizer.pk %}
            <a href="{% url 'event-edit' event.pk %}" class="edit-color"><i class="far fa-edit"></i></a>            
            <a href="{% url 'event-delete' event.pk%}" class="edit-color"><i class="fas fa-trash"></i></a></h2>

            {% endif %}
            <!-- Event Time -->
            <div class="event-time">
              <p style="color: black; font-size: 16px; margin-bottom: 5px;">{{ event.start_time|date:"l d.m.Y" }}</p>
              <p style="color: black; font-size: 16px; margin-bottom: 15px;">from {{ event.start_time|time:"P" }} till {{ event.end_time|time:"P" }}</p>
            </div>
            <!-- Event Description -->
            <p style="color: black; margin-bottom: 20px;">{{ event.description }}</p>
            <!-- Attendees Count -->
            <p style="color: black; margin-bottom: 10px;">Attending: {{ event.number_of_attendees }}/{{ event.attendees_allowed }}</p>
            <!-- Event Location -->
            <p style="color: black;">Location: {{ event.place }}</p> 
          </div>
        </div>
        <!-- Join/Share Buttons Row -->
        <div class="row mt-3">
          <div class="col-md-6"><b>Organizer:</b> <a href="{% url 'profile' event.organizer.pk %}">{{event.organizer}}</a></div>
          <!-- Join/Unjoin Column -->
          <div class="col-md-2">
            {% if event.can_join %}
              {% if request.user not in event.attendees.all %}
                <!-- Join Event Form -->
                <form method="POST" action="{% url 'join-event' event.pk %}">
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.path }}">
                  <button type="submit" class="btn btn-success">
                    Join Event
                  </button>
                </form>
              {% endif %}
            {% endif %}
              {% if request.user in event.attendees.all %}
                <!-- Unjoin Event Form -->
                <form method="POST" action="{% url 'unjoin-event' event.pk %}">
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.path }}">
                  <button type="submit" class="btn btn-danger">
                    Unjoin Event
                  </button>
                </form>
              {% endif %}
          </div>
          <!--Attendence List only to the organizer-->
        <div class="col-md-3">
          {% if request.user.pk == event.organizer.pk %}
          <a class="btn btn-info" href="{% url 'list-attendees' event.pk %}" role="button">Show Attendees</a>
          {% endif %}
        </div>
        <!-- Share Button Column -->
        <div class="col-md-1 text-right">
          <!-- Share Button -->
          
        </div>

        <!-- Share Form -->
        <span onclick="shareEvent('{{ event.pk }}')"><i class="far fa-share-square share-btn"></i></span>
        <form method="POST" action="{% url 'share-event' event.pk %}" class="d-none" id="{{ event.pk }}">
          {% csrf_token %}
          {{ share_form|crispy }}
          <div class="d-grid gap-2">
              <button class="btn btn-success mt-3">Send the event</button>
          </div>
        </form>
        </div>
      </div>      
  </div>
  
</div>
{% endblock content %}
